
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background-image: linear-gradient(to left,#490B6B, #7E12B8 );
    font-size:2em;
    font-family:'plus jakarta sans';
    font-style: normal;
    font-weight: bold;
}/*main{
  background-color:white;
  border-radius: 15px;

}*/
h1{

    color:#BC5FEE;
    font-family: 'merriweather', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black; 
    text-align: center;
}
a{
    color:#A117EB;
    text-shadow: 1px 1px 3px black;
}